* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efebe2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  background-color: bisque;
  color: #54462f;
}

.websitename {
  font-size: 2rem;
  margin: 1rem;
}

.navlist ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navlist li {
  list-style: none;
}

.navlist li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}

.navlist li:hover {
  background-color: white;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .toggle-button {
    display: flex;
  }
  .navlist {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navlist ul {
    width: 100%;
    flex-direction: column;
  }
  .navlist li {
    text-align: center;
  }
  .navlist li a {
    padding: 0.5rem 1rem;
  }
  .navlist.active {
    display: flex;
  }
}

.quiz {
  background-color: bisque;
  color: black;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 2rem;
  font-family: "Cormorant Garamond", serif;
}

#button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 5px;
  font-family: "Cormorant Garamond", serif;
}

.carousel-item {
  height: 32rem;
  background-color: black;
  color: bisque;
  position: relative;
}

.stresscontainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.65;
}
